*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-size: medium; */
}


ul{
    list-style-type: none;
}
.todo::before{
    content:"\2610";
    display: inline-block;
    margin-right: 0.2rem;
}

.todo.active::before{
    content: "\2611";
}

.todos{
    cursor:pointer;

}

.todo.active{
    /* text-decoration: line-through; */
    color:coral;
    
}

.toggler::before{
    content:"\25b6";
    display: inline-block;
    margin-right: 0.2rem;
    
    transition: transform 0.3s ease-in-out;
}

.toggler.active::before{
    transform:rotate(90deg);
}

.toggler-target{
    display: none;
}

.toggler-target.active{
    display:block;
}