
.wrapper .left{
    margin-top: 100px;
  }
  .wrapper .right{
    margin-top: 100px;
  }
@media only screen and (max-width: 1200px){


    .card{
        /* grid-area: continutulfinal; */
        display:grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: min-content ;
     
        color: #05719D;
        grid-template-areas: 
        "img img"
        "title title"
        "despre despre";
        gap:10px;
        border-radius: 20px;
        box-shadow: 0 0 1em rgba(0,0,0,0.5);
        padding:1.5em;
        margin-bottom: 1.5em;
    }
    .rightplace{
        grid-area:contine;
        display: grid;
        /* grid-template-columns: 1fr 1fr; */
        /* grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: "continutulfinal"; */
       grid-template-columns: 1fr;
    }
    .wrapper{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 450px;
        display: flex;
        box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
      }


}