*{
    margin:0;
   
    padding:0;
    /* background: red; */
}
*,*::before,*::after{
    box-sizing: border-box;
    white-space: nowrap;
}
div{
    /* white-space: nowrap; */
}
.gridBody{

    display: grid;
    background-color: #212329;
    grid-template-columns:1.5em 280px 1fr 1fr 1.5em;
    /* grid-template-rows: auto auto auto auto auto; */
    grid-template-areas:
    "cuprins cuprins cuprins cuprins cuprins"
    ". continut continut continut  ."
    "footer footer footer footer footer "
    ;
     /* gap: 50px;  */
}
.content{
    grid-area:cuprins;
        
}


.navbar{
    height: 80px;
}
.searchBar{
    height: 30px;
    /* justify-self: right; */
   left: 15%;
}
.main{
    grid-area: continut;
    display: grid;
    background-color: #212329;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    /* height: 80%; */
    grid-template-areas: 
    "search items"
    ;
}
.filterBar{
 grid-area: search;
 /* height: 80%; */
 /* height: 80%; */
 /* background : blue; */
 /* justify-self: center;
 align-self: center; */

}

.footer{
    grid-area:footer;
    /* background: red; */
}
.butt{
    display:none;
}
.categorieFiltru{
    background-color: #212329;
    /* text-shadow: #212329; */
    color: grey;
    /* padding: 2px;*/
    box-shadow: 0 5px 25px 2px 
               rgba(0,0,0,.33);
    border-radius: 6px;


}
.filtre{
    display: block;
}
.toggler{
    box-shadow: 0 0 25px 10px 
    rgba(0,0,0,.33);
}
.itemsContent{
    grid-area:items;
    display:grid;
    /* grid-template-rows: auto; */
    background: #212329;
    color: rgb(182, 177, 177);
    /* display:grid; */
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    ". contine ."
    ;
    /* gap:10px; */


}
.rightplace{
    grid-area:contine;
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    /* grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "continutulfinal"; */
   /* grid-template-columns: 1fr 1fr; */
   gap:5px;
}
.card{
    /* grid-area: continutulfinal; */
    display:grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: min-content ;
    box-shadow: 0 5px 55px 20px 
        rgba(0,0,0,.33);
    
    grid-template-areas: 
    "img title"
    "img despre";
    gap:10px;
    border-radius: 20px;
    box-shadow: 0 0 1em rgba(0,0,0,0.5);
    padding:1.5em;
    margin-bottom: 1.5em;
    
}

.card-img{
    grid-area:img;
    /* background: red; */
    max-width: 100%;

}
.card-title{
    /* background: blue; */
    grid-area:title;
    /* left:30%; */
    margin:0;
    font-size: larger;
}

.card-content{
    /* background:lightgreen; */
    /* display: grid; */
    grid-area: despre;
    
}
.card-content a{
    color:coral;
}
/* .nav-menu{
    display:grid;
    grid-template-columns: auto;
    background:rgb(198, 24, 79);
    margin:0;
    position:absolute;
    width:100%;
   /* /* to do   
    top: 80px;
 
    left:-100%;
    opacity:0;
    transition: all 0.5s ease;
} */
@media only screen and (max-width: 1200px){


    .gridBody{

        display: grid;
    
        grid-template-columns:1.5em 280px 1fr 1fr 1.5em;
        
        grid-template-areas:
        "cuprins cuprins cuprins cuprins cuprins"
        "continut continut continut continut continut"
        "footer footer footer footer footer "
        ;
         /* gap: 50px;  */
        
    }
    .itemsContent{
        grid-area:items;
        display:grid;
        /* grid-template-rows: auto; */
        background-color: #212329;
        color: rgb(182, 177, 177);
        /* display:grid; */
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: auto;
        grid-template-areas: 
        "contine contine"
        ;
        /* gap:10px; */
    
    
    }
    .rightplace{
        grid-area:contine;
        display: grid;
        /* grid-template-columns: 1fr 1fr; */
        /* grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: "continutulfinal"; */
       grid-template-columns: 1fr 1fr;
    }
    .card{
        /* grid-area: continutulfinal; */
        display:grid;
        box-shadow: 0 0 1em rgba(0,0,0,0.5);
        grid-template-columns: 1fr 3fr;
        grid-template-rows: min-content ;
        grid-template-areas: 
        "tile title"
        "img img "
        "img img"
        "despre despre";
        gap:10px;
        border-radius: 20px;
        box-shadow: 0 0 1em rgba(0,0,0,0.5);
        padding:1.5em;
        margin-bottom: 1.5em;
         overflow: hidden;
    }
    
    .filtre{
        display: block;
    }
   
 
    .search{
        /* background: red; */
        display:grid;
        grid-template-columns: auto;
        /* background:rgb(198, 24, 79); */
        margin:0;
        width:100%;
        position:absolute;
        margin-left: 20px;
        
        left:15%;

    }
    @media only screen and (max-width: 850px){

        .main{
            grid-area: continut;
            display: grid;
            grid-template-columns: 1fr 1fr;
            /* grid-template-rows: auto; */
            /* height: 80%; */
            grid-template-areas: 
            "search search"
            "items items"
            ;
            width:100%;
        }


        .filtre{
            display: block;
        }
        .butt{
            background: #212329;
            display: block;
            color:coral;
            /* justify-self: center;
            align-items: center; */
            
        }
        .filtbutt{
            display: block;
            width: 100%;
            color:#212329;
            border-radius: 10px;
        }
  
        .filtbutt{
          background-color: #222;
          border-radius: 4px;
          border-style: none;
          box-sizing: border-box;
          color: #fff;
          cursor: pointer;
          display: inline-block;
          font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
          font-size: 16px;
          font-weight: 700;
          line-height: 1.5;
          margin: 0;
          max-width: none;
          min-height: 44px;
          min-width: 10px;
          outline: none;
          overflow: hidden;
          padding: 9px 20px 8px;
          position: relative;
          text-align: center;
          text-transform: none;
          user-select: none;
          -webkit-user-select: none;
          touch-action: manipulation;
          width: 100%;
        }
        
        .filtbutt:hover,
        .filtbutt:focus {
          opacity: .75;
        }
    

    .nav-menu{
        display:grid;
        grid-template-columns: auto;
        /* background:rgb(198, 24, 79); */
        margin:0;
        position:absolute;
        width:100%;
       /* to do  */
        top: 120px;
     
        left:-100%;
        opacity:0;
        transition: all 0.5s ease;
    }
    .search{
        /* background: red; */
        display:grid;
        grid-template-columns: auto;
        /* background:rgb(198, 24, 79); */
        margin:0;
        width:100%;
        position:absolute;
        margin-left: 20px;
        
        left:15%;

    }
        .itemsContent{
        display:grid;
        grid-template-columns: 0.5em 6fr 0.5em;
        grid-template-areas: 
        "content content content"
        ;
    
    
    }
    .card{
        /* grid-area: continutulfinal; */
        display:grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: min-content ;
     
        color: rgb(182, 177, 177);
        grid-template-areas: 
        "img img"
        "title title"
        "despre despre";
        gap:10px;
        border-radius: 20px;
        box-shadow: 0 0 1em rgba(0,0,0,0.5);
        padding:1.5em;
        margin-bottom: 1.5em;
    }
    .rightplace{
        grid-area:contine;
        display: grid;
        /* grid-template-columns: 1fr 1fr; */
        /* grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: "continutulfinal"; */
       grid-template-columns: 1fr;
    }
}
}