*{
    margin:0;
   
    padding:0;
    /* background: red; */
}
*,*::befor,*::after{
    box-sizing: border-box;
}
.gridBody{

    display: grid;

    grid-template-columns:1.5em 280px 1fr 1fr 1.5em;
    
    grid-template-areas:
    "cuprins cuprins cuprins cuprins cuprins"
    ". continut continut continut  ."
    "footer footer footer footer footer "
    ;
     /* gap: 50px;  */
}
.content{
    grid-area:cuprins;
        
}
.navbar{
    height: 80px;
}
.searchBar{
    height: 30px;
    /* justify-self: right; */
   left: 15%;
}
.main{
    grid-area: continut;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    /* height: 80%; */
    grid-template-areas: 
    "search items"
    ;
}
.filterBar{
 grid-area: search;
 /* height: 80%; */
 /* height: 80%; */
 background : red;
 /* justify-self: center;
 align-self: center; */

}
.itemsContent{
    grid-area:items;
    background: yellow;
    /* align-items: center; */

    
}
.footer{
    grid-area:footer;
    background: blue;
}


@media only screen and (max-width: 1200px){

    .gridBody{

        display: grid;
    
        grid-template-columns:1.5em 280px 1fr 1fr 1.5em;
        
        grid-template-areas:
        "cuprins cuprins cuprins cuprins cuprins"
        "continut continut continut continut continut"
        "footer footer footer footer footer "
        ;
         /* gap: 50px;  */
    }
    @media only screen and (max-width: 850px){
        .main{
            grid-area: continut;
            display: grid;
            grid-template-rows: 1fr 1fr;
            /* grid-template-rows: auto; */
            /* height: 80%; */
            grid-template-areas: 
            "search search"
            "items items"
            ;
            width:100%;
        }
    }

    .nav-menu{
        display:grid;
        grid-template-columns: auto;
        background:rgb(198, 24, 79);
        margin:0;
        position:absolute;
        width:100%;
       /* to do  */
        top: 80px;
     
        left:-100%;
        opacity:0;
        transition: all 0.5s ease;
    }
    .search{
        /* background: red; */
        display:grid;
        grid-template-columns: auto;
        background:rgb(198, 24, 79);
        margin:0;
        width:100%;
        position:absolute;
        margin-left: 20px;
        
        left:15%;

    }
}