.nav-container{
    width: 100%;
    background-color: #212329;
}
.content{
    background-color: #212329;
}
.navbar{

    display:grid;
    grid-template-columns: 280px auto 1fr;
    align-items:center;
    height: 20px;
    width: 90%;
    max-width: 1720px;
    margin:0 auto;
}

.search{
    color:white;
    justify-self: start;
    align-self: center;
    margin-left: 20px;
}

.nav-menu{
    display:grid;
    /* margin:0; */
    grid-template-columns: repeat(5,auto);
    
    list-style: none;
    text-align: center;
    font-size:x-large;
    font-family: 'Josefin Sans', sans-serif;
    width: 80%; 
    justify-self: end;
    gap:1em; 
}

.nav-links{
    color:white;
    text-decoration: none;
    
}
.nav-links:hover{
    color:coral;
    transition: all 0.2s ease-out;
}

.nav-links-btn{
    background-color: rgb(198, 24, 79);
    padding: 6px 16px;
    border-radius: 4px;
}
.nav-links-btn:hover{
    color:coral;
 
    background-color: transparent;
    padding: 5px 15px;
    border-radius: 4px;
    border: solid 1px rgb(198, 24, 79);
    transition: all 0.3s ease-in-out;
}

.menu-togle .bar{
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background:white;
}


@media only screen and (max-width: 1000px)
{
    .nav-container{
        position: relative;
    }
    .nav-menu{
        display:grid;
        grid-template-columns: auto;
        background:rgb(198, 24, 79);
        margin:0;
        position:absolute;
        width:100%;
       
        top:55%;
     
        left:-100%;
        opacity:0;
        transition: all 0.5s ease;
    }
    .search{
        /* background: red; */
        display:grid;
        grid-template-columns: auto;
        background:rgb(198, 24, 79);
        margin:0;
        width:100%;
        position:absolute;
        margin-left: 20px;
        
        left:25%;

    }
    .nav-menu.active{
        background-color: #212329;
        background:hsl(0 0% 100%/0.01);
        backdrop-filter: blur(0.5rem);
        left: 0;
        opacity:1;
        transition:all 0.5s ease;
    }

    .nav-links{
        font-size: x-large;
        text-align: center;
        line-height: 2em;
        width: 100%;
        
        display: table;
    }

    .nav-links:hover{
        /* background-color:rgb(198, 24, 79);*/
        background-color: coral;
        color:white;
        transition: all 0.4 ease-out;
    }
    .navbar{
        width:100%;
    }
    .nav-links-btn{
        border:none;
        padding:0;
        border-radius: 0;
        background-color: #212329;
        /* width: 100%; */
        color: white;
        transition: all 0.4s ease-out;
        
    }
    .nav-links-btn:hover{
        border:none;
        padding:0;
        border-radius: 0;
        background-color: coral;
        color: white;
        transition: all 0.4s ease-out;
    }
    #mobile-menu{
        /* position:absolute;
        top:55%;
        right:10%;
        transform:translate(5%,20%); */
        position:absolute;
        transform:translate(5%,20%);     
        


        display:grid;
        grid-template-columns: auto;
        /* background:rgb(198, 24, 79); */

        margin:0;
        width:100%;
        position:absolute;
        margin-left: 20px;
        left:30%;
    }

    .menu-togle .bar{
        display:block;
        cursor: pointer;
    }
    .menu-togle:hover{
        cursor: pointer;
    }
    #mobile-menu.is-active .bar:nth-child(2){
        opacity:0;
    }
    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(12px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3){
        transform:translateY(-12px) rotate(-45deg);
    }
}