*{
    margin:0;
   
    padding:0;
    /* background: red; */
}
*,*::befor,*::after{
    box-sizing: border-box;
}
.gridBody{

    display: grid;

    grid-template-columns:1.5em 240px 1fr 1fr 1fr 0.5fr 1.5em;
    
    grid-template-areas:
    "title title title title title title title"
    ". login login login login login ."
    ". search cuprins cuprins cuprins cuprins ."
    ". main main main main main ."
    ". footer footer footer footer footer. "
    ;
     gap: 50px; 
}
.search{
    grid-area: search;
    justify-self :center;
    align-self:end;
    /* background: red; */
}
.title{
    grid-area: title;
    /* background: gray;
    color: white;*/
    /* padding: 2em; */
     
}
.login{
    grid-area:login;
    display:grid;
    grid-template-rows: 1fr 1fr;
}
.content{
    grid-area: cuprins;
}
.Main{
    grid-area:main;
}
.footer{
    grid-area: footer;
}
.limba{
    display:grid;
    grid-template: 1fr 1fr;
    
}
.title{
    /* background: black; */
    /* font-size: 2em; */
    /* color: yellow; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-self: center; */
    /* background-image: ulr("pictures\randomBackgroundImage.jpg"); */
}
/* .wrapper{
	max-width: 53.33rem;
	margin: 0 auto;
	position: relative;
	z-index: 10;
	transform: translateY(-50%);
	top:50%;
	text-align: center;
}
.wrapper.large-wrap{max-width: 100%;} */


