*{
    margin:0;
    padding:0;
    /* background: red; */
}

.gridBody{
    display: grid;

    grid-template-columns: 1fr 1fr 1fr ;

    grid-template-areas: 
    "search title login"
    "cuprins cuprins cuprins"
    "main main main"
    "footer footer footer"
    ;
}
.search{
    grid-area:
}
