*{
    margin:0;
    padding:0;
    /* background: red; */
}
/* 
.gridBody{
    display: grid;

    grid-template-columns: 1fr 1fr 1fr ;
} */


body{
    background:#32ff7e;

}

.searchBar{
    position: absolute;
    /* top: 50%;
    left:50%; */
    transform: translate(-50%,-50%);
    background: #808e9b;
    height: 30px;
    border-radius: 40px;
    padding:10px;
}
.searchBar:hover>.search-txt{

    width: 240px;
    padding:0 6px;


}
.searchBar:hover>.search-btn{

    background:white;



}
.search-bth{
    color: #32ff7e;
    float: right;
    width: 1px;
    height: 30px;
    border-radius: 50%;
    background:#808e9b;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;

}

.search-txt{
    border: none;
    background: none;
    
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 30px;
    width: 0px;
}